* {
  box-sizing: border-box; }

body {
  font-family: Arial;
  margin: 10px;
  min-width: 320px; }

.column {
  float: left;
  width: 33.33%;
  padding: 0 10px; }

.caps-on {
  text-transform: uppercase; }

.icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px; }

.icon-clock {
  padding-left: 14px;
  width: 14px;
  height: 14px; }

.icon-clock:before {
  content: '';
  background: url("../img/icons/clock.png");
  background-size: cover;
  position: absolute;
  width: 14px;
  height: 14px;
  margin-left: -14px; }

.icon-speach-bubble {
  padding-left: 18px;
  width: 18px;
  height: 14px; }

.icon-speach-bubble:before {
  content: '';
  background: url("../img/icons/speech-bubble.png");
  background-size: cover;
  position: absolute;
  width: 18px;
  height: 14px;
  margin-left: -18px; }

.icon-title {
  padding-left: 20px; }

.icon-title:before {
  content: '';
  background: url("../img/icons/title.png");
  background-size: cover;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -20px; }

#loading {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  text-align: center;
  padding-top: 25%; }

#body_wrapper .main-content-wrapper {
  float: left;
  width: 66%;
  margin-right: 10px; }

#body_wrapper .main-content-wrapper #header_wrapper {
  min-height: 100px;
  background-color: #656464;
  color: white;
  font-size: 32px;
  padding: 10px;
  margin: 10px 0; }

#body_wrapper .main-content-wrapper .content-wrapper .heading {
  padding: 6px 0;
  font-size: 24px;
  font-weight: bold; }

#body_wrapper .main-content-wrapper .content-wrapper .article-0-wrapper {
  min-height: 600px; }

#body_wrapper .main-content-wrapper .content-wrapper .article-col {
  width: 49%;
  padding: 5px 0 5px 10px;
  float: left;
  position: relative; }

#body_wrapper .main-content-wrapper .content-wrapper .article-col img {
  width: 100%; }

#body_wrapper .main-content-wrapper .content-wrapper .article-col .intro-text.caps-on {
  font-weight: bold; }

#body_wrapper .main-content-wrapper .content-wrapper .article-col .intro-text.caps-on.red-intro {
  color: #F6423D; }

#body_wrapper .main-content-wrapper .content-wrapper .article-col .intro-text.caps-on.blue-intro {
  color: #1973E6; }

#body_wrapper .main-content-wrapper .content-wrapper .article-col .article-empty-content {
  overflow: auto; }

#body_wrapper .main-content-wrapper .content-wrapper .article-col .article-empty-content .heading {
  font-size: 22px; }

#body_wrapper .main-content-wrapper .content-wrapper .article-col .article-empty-content .article-media {
  float: right;
  width: 25%; }

#body_wrapper .main-content-wrapper .content-wrapper .article-col .article-empty-content .article-text {
  float: right;
  width: 75%; }

#body_wrapper .main-content-wrapper .content-wrapper .main-text {
  font-size: 14px; }

#body_wrapper .main-content-wrapper .content-wrapper .article-footer {
  font-size: 12px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #e0e0e0; }

#body_wrapper .main-content-wrapper .content-wrapper .article-footer .published-timer {
  margin: 0 2px; }

#body_wrapper .main-content-wrapper .content-wrapper .article-footer .icon-speach-bubble {
  padding-left: 18px; }

#body_wrapper .ads-side-bar-wrapper {
  float: left;
  width: 32%;
  padding-left: 20px;
  min-height: 600px;
  background-color: #656464;
  color: white;
  font-size: 32px;
  padding: 10px;
  margin: 10px 0; }

@media screen and (max-width: 1024px) {
  #body_wrapper .main-content-wrapper {
    float: none;
    width: 100%;
    margin-right: 0; } }

@media screen and (max-width: 800px) {
  #body_wrapper .main-content-wrapper {
    float: none;
    width: 100%;
    margin-right: 0; }
  #body_wrapper .main-content-wrapper .content-wrapper .article-col {
    width: 100%;
    padding: 5px 0 5px 0;
    float: none; }
  #body_wrapper .ads-side-bar-wrapper {
    width: 100%;
    padding: 0; }
  .content-wrapper .article-col {
    float: none; } }
