$font_family: 'Arial';
$font_size_section_header: 32px;
$font_size_primary_article_title: 24px;
$font_size_secondary_article_title: 22px;
$font_size_ternary_article_title: 20px;

$color_red: #F6423D;
$color_blue: #1973E6;
$color_grey: grey;

$column_width: 33.33%;
$left_column_width: 66%;
$right_column_width: 32%;